.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search__controllers{
    display: flex;
}
/* search controllers */
#search__controllers-input{
    width: 300px;
    height: 35px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
}
#search__controllers-btn {
  padding-left: 25px;
}
#search__controllers-btn > button {
  background: transparent;
  border: 0px;
}
#search__controllers-btn >  button > img {
display: block;
padding: 5px;
border: 1px solid black;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}
