#navbar_search{
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
}
#navbar-search__btn {
  padding-left: 10px;
}
#navbar-search__btn > button {
  background: transparent;
  border: 0px;
}
#navbar-search__btn > button > img {
  width: 25px;
  height: 25px;
}
.nav-btn__search {
  display: flex;
  padding-left: 67px;
}
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
hr {
  color: black;
}
.nav-btn {
  margin-top: 24px;
}
.nav-btn > ul {
  display: flex;
  justify-content: center;
}
.nav-btn > ul,
li {
  padding-left: 67px;
}
.nav-btn > ul,
li:first-child {
  padding-left: 0px;
}
